<%- include("partials/header") %>

<div id="container">
		<h1>JUST Do IT</h1>
		<input type="text" name="">
		<ul id="theList" class="sortable" >
			<!-- <li><span>*icon </span> Go TO diagon Alley</li>
			<li class="xyz" ><span>*icon </span> accopany hagrid to Gringotts</li>
			<li><span>*icon </span>visit Hogwards</li> -->
		</ul>
	<p id="SaveAll">
		 <a href="javascript.void()"; id="saveAll">Save All</a>
	</p>
	<p id="ClearAll">
		 <a href="javascript.void()"; id="clearAll">clear All</a>
	</p>

	
	</div>


<%- include("partials/footer") %>